.navbar {
    border-bottom: 1px solid #f0f0f0;
}

.stayLeft {
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 2px solid #f0f0f0;
}

.sidebar {
    height: 100%;
}

.sidebarUl {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}


.sidebarLi {
    border-bottom: 1px solid #f0f0f0;

    margin-top: 10px;
}

.sidebarLi a{
    margin-left: 15px;
    margin-bottom: 10px;

}