.asset {
    margin-top: 56px;
    width: 100%;
    height: 100%;

}

.page {
    font-size: 18pt;
    background-color: #fff;
    width: 1300px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 200px;
    height: 100%;
}

.content {
    box-sizing: border-box;
    width: 1200px;
    height: 600px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 55px;
    font-family: 'Abel', sans-serif;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

}

